mat-progress-spinner{
  margin-left: 45%;
  margin-top: 5%;
}

.bo{

  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
}mat-card {
   max-width: 240px;
 }.busq{
    margin-left: 40%;
  }
.info{
  margin-left: 27%;
  background-color: #ffc045;
}

.ex{
  margin-left: 80%;
}
