mat-card {
max-width: 240px;
}
.info{
  margin-left: 25%;
}

.pesq{
  margin-left: 39%;
}
.bo{

  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
}
.example-full-width{
  width: 250px;
}
mat-progress-spinner{
margin-left: 45%;
  margin-top: 10%;
}
.busq{
  margin-left: 40%;
}
